[user]
	name = Hideaki Kanehara
	email = sss_ftr.hid@icloud.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	smudge = git-lfs smudge -- %f
	clean = git-lfs clean -- %f
[alias]
	alias = !git config --get-regexp alias
	a = add
	aa = add --all
	co = checkout
	com = commit -v
	comm = commit -m
	ac = !git add --all && git commit -v
	acm = !git add --all && git commit -m
	b = branch
	d = diff
	dc = diff --cached
	dns = diff --name-status
	f = fetch
	s = status -sb
	ss = status
	l = log --stat --summary --decorate
	lp = log --stat --summary --decorate -p
	lg = log --graph --date=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	cancel = reset --soft HEAD^
	unstage = reset HEAD --
[push]
	default = matching
[commit]
	template = ~/.stCommitMsg
[color "diff"]
	old = red strike
	new = green bold italic
	meta = blue black bold
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
